*{
	margin: 0;
	padding: 0;
	font-family: 'Mansalva', cursive;
}

html {
  scroll-behavior: smooth;
}

body{
	color: white;
}

.landing-content{
	background: url(../images/pic1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn{
	padding: 10px 30px;
	border-style: none;
	border-radius: 10px;
	height: 75px;
	width: 150px;
	background-color: #212121;
	color: white;
	font-size: 25px;
}

.btn-div{
	display:flex;
	justify-content: center;
}

.navbar{
	background-color: rgba(33, 33, 33, 0.8);
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*this is to make navbar stick to the top*/
	position: sticky;
	top: 0px;
}

.navbar > a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	color: white;
	margin-left: 30px;
}

.navbar > ul {
	list-style-type: none;
}

.navbar-list {
	margin-right: 30px;
}

.navbar ul a {
	display: inline-block;
	padding: 20px 10px;
	text-decoration: none;
	color: white;
}

.second-div{
	height: 100vh;
	background-color: #575757;
	display: flex;
	align-items: center;
	justify-content: center;
}

.quote-content{
	width: 50%;
	text-transform: capitalize;
	text-align: center;
	font-size: 50px;
}

p {
	color: white;
}

#drink {
	color: gray;
	font-size: 100px;
}

.article-content{
	width: 50%;
	text-align: center;
}

.article-content img{
	border-radius: 10px;
	height: 300px;
	width: 500px;
}

.third-div{
	height: 100vh;
	background: url(../images/pic3.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.third-div-pic{
	height: 200px;
	width: 200px;
	border-radius: 100px;
}

.third-div p{
	font-size: 50px;
}

/*gallery*/
.gallery {
	height: 100vh;
	background-color: #525252;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.gallery-photos{
}

.gallery-photos img{
	border-radius: 10px;
	transition: 0.5s;
	height: 200px;
	width: 200px;
}

.gallery-photos img:hover {
	transform: scale(1.5);
}

.contact-us {
	height: 100vh;
	background: url(../images/pic6.jpg);
	background-size: cover;
	background-position:center;
	display: flex;
}

form {
	width: 50%;
	text-align: center;
}

.form-contents, .contact-message {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.form-input{
	width: 100%;
	height:	25px;
	display:block;
	border-radius: 10px;
	font-size: 18px;
	margin: 5px;
	text-align: center;
}

.form-btn{
	padding: 2px;
	height: 50px;
	width: 100px;
	border: 0px;
	border-radius: 10px;
	background: #212121;
	color: white;
}

.contact-message textarea {
	height: 25%;
	width: 90%;
}